@{
    ViewBag.Title = "BootStrapDropdownExample1";
}

<h2>BootStrapDropdownExample1</h2>

<div class="row">
    <div>
        <form method="post">            
            <div class="form-group">
                <label for="nameInput">Your Name</label>
                <input type="text" name="Name" id="nameInput" class="form-control" />
            </div>

            <div class="form-group">
                <label for="emailInput">Your email</label>
                <div class="input-group">
                    <span class="input-group-addon">@@</span>
                    <input type="email" name="Email" class="form-control" />
                </div>
            </div>
            @Html.Hidden("Interest", "value", new { id = "id" })
            @*<div class="form-group">
                <label for="reasonInput">Reason</label>
                <select id="reasonInput" class="form-control">
                    <option>Value 1</option>
                    <option>Value 2</option>
                    <option>Value 3</option>
                    <option>Value 4</option>
                </select>
            </div>*@

            <div class="form-group">
                <label>Interest</label>

                <div class="dropdown">
                    <button class="btn btn-success" data-toggle="dropdown" id="selectOneInterest">Select One...</button>
                    <button class="btn btn-success" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul id="interests" class="dropdown-menu">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                        <li><a href="#">Four</a></li>
                    </ul>
                </div>
            </div>
            <hr />

            <div class="form-group">
                <label for="messageInput">Message</label>
                <textarea id="messageInput" cols="60" rows="10" class="form-control" name="Message"></textarea>
            </div>

            <input type="submit" value="Save" class="btn btn-success" />
        </form>

    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            var selectOneInterest = $('#selectOneInterest');
            var hiddenInputForInterest = $('#id');

            $('#interests li a').on("click", function () {
                var li = $(this);
                selectOneInterest.text(li.text());
                //selectOneInterest.val(li.text());
                //hiddenInputForInterest.text(li.text());
                hiddenInputForInterest.val(li.text());
            });
        });
    </script>
}